body{
    font-family: 'Roboto Condensed', sans-serif;
}
.custom-gradient{
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.h2{
    font-weight: 700;
    background: -webkit-linear-gradient(#8e2de2, #240e50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
